main .artdeco-card.job-details-module.relative,
main .upsell-premium-custom-section-card__container,
main .artdeco-card.job-details-module.job-details-how-you-match-card__container,
main .artdeco-card.job-details-module.full-width,
main .artdeco-card.job-details-module.jobs-details__smp-promo,
main .jobs-details__salary-main-rail-card
{
	/*remove premium garbage*/
	display: none;
}